* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --coral: hsl(300, 100%, 93%);
    --coral--b: hsl(280, 100%, 70%);
   }

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    margin: 0;
  }

.wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 300px;
    grid-template-rows: 50px 350px 100px 100px;
    gap: 10px;
}

.card_4 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.card_1 {
    background-color: white;
}

.card_2 {
    background-color: yellow;
}

.card_3 {
    background-color: red;
}

.child_card_1 {
    background-color: yellow;
}

.div_child_card_1 {
    background-color: white;
}

.div_child_card_2 {
    background-color: white;
}

.child_card_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 175px;
    gap: 10px;
}

.child_card_5_1 {
    background-color: black;
}

.child_card_5_2 {
    background-color: white;
}

.card_5 {
    display: grid;
    grid-template-columns: 0px 100px 300px;
    grid-template-rows: 100px;
}

.card_6 {
    background-color: white;
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 5px;
}

.conteiner_1 {
    grid-column: 6 span;
}

.conteiner_2 {
    grid-column: 2 span;
}

.conteiner_3 {
    grid-column: 2 span;
}

.conteiner_4 {
    grid-column: 2 span;
}

.conteiner_5 {
    grid-column: 3 span;
}

.conteiner_6 {
    grid-column: 3 span;
}

.conteiner_RAM {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.conteiner_RAM_1 {
    font-size: 4rem;
    padding: 1rem;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    border-style: dashed;
    background-color: var(--coral);
    border: 1px solid var(--coral--b);
}

.a_bottom {
    background-color: black;
    color: white;
    border: 2px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    padding: 3px 3px;
}