/*.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    place-items: center;
}

.card {
    width: 50px;
    height: 50px;
}

.card:nth-child(2n) {
    background-color: aqua;
}


.card:nth-child(2n+1) {
    background-color: red;
}
*/
.grid-container {
    display: grid;
    grid-template-columns: 400px 300px;
    grid-template-rows: 50px 350px 100px 100px;
    gap: 10px;
}

.card_4 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.card_1 {
    background-color: white;
}

.card_2 {
    background-color: yellow;
}

.card_3 {
    background-color: red;
}

.child_card_1 {
    background-color: yellow;
}

.div_child_card_1 {
    background-color: white;
}

.div_child_card_2 {
    background-color: white;
}

.child_card_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 175px;
    gap: 10px;
}

.child_card_5_1 {
    background-color: black;
}

.child_card_5_2 {
    background-color: white;
}

.card_5 {
    display: grid;
    grid-template-columns: 0px 100px 300px;
    grid-template-rows: 100px;
}

.card_6 {
    background-color: white;
}