@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Onest:wght@700&display=swap');

:root {
    --primary-color: pink;
    --second-color: green;
    --holl-collor: black;
    --k-color: white;
    --9--color: blue;
    --1--color: purple light;
    --2--color: purple;
    --3--color: yellow light;
    --4--color: yellow;
    --5--color: orange;
    --6--color: grey;
    --7--color: pink;
    --8--color: rgb(227, 112, 227);
    --10--color: rgb(48, 45, 45);


}

h1 {
    color: var(--holl-collor)
}

.body {
    background-color: var(--holl-collor);
}

html {
    font-size: 62.5%;
}

.wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo__image {
    width: 100%;
    max-width: 100px;
}

.header__logo logo {
    font-size: 10px;
}

.navigation__item {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.header__login {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h2 {
    color: var(--k-color)
}

.h2_1 {
    font-family: "Montserrat", sans-serif;
    margin: 20px auto;
    width: 100%;
}

a {
    color: var(--k-color)
}

.kol {
    background-color: var(--l-color)
}

p {
    color: var(--k-color)
}

.fonk {
    font-family: 'Onest', sans-serif;
    font-size: 28px;
    padding: 0 22rem
}

.kip {
    background-color: (--3--color);
    padding: 1px 80px;
    font-size: 10px
}

.button_1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    font-size: 20px;
}

.dif_button1 {
    padding: 10px 560px
}

.strelki {
    margin: 0 auto;
    width: 100%;
}

.lom {
    font-family: 'Onest', sans-serif;
    padding: 2px 550px;
    font-size: 28px
}

.image {
    padding: 2px 130px;
    font-size: 2px;
}

.a {
    padding: 2px 30px;
    font-size: 18px;
    background-color: var(--holl--color);
}

.a1 {
    color: var(--7--color);
}

.b {
    padding: 2px 30px;
    font-size: 18px;
    background-color: var(--holl--color);
}

.b1 {
    color: var(--4--color);
}

.c {
    padding: 2px 30px;
    font-size: 18px;
    background-color: var(--holl--color);
}

.c1 {
    color: var(--2--color);
}

.d {
    padding: 2px 30px;
    font-size: 18px;
    background-color: var(--holl--color);
}

.d1 {
    color: var(--9--color);
}

.f {
    padding: 2px 30px;
    font-size: 18px;
    background-color: var(--holl--color);
}

.f1 {
    color: var(--9--color);
}

.g {
    padding: 2px 30px;
    font-size: 18px;
    background-color: var(--holl--color);
}

.g1 {
    color: var(--8--color);
}

.h {
    padding: 2px 30px;
    font-size: 18px;
    background-color: var(--holl--color);
}

.h1 {
    color: var(--6--color);
}

.s {
    padding: 25px 30px;
    font-size: 10px;
}

.image1 {
    padding: 10px 200px;
}

.fut {
    width: 500px;
    margin: 0 auto;
    /* max-width: 40px; */
    padding: 0 1rem;
}

.a2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 2px 30px;
}

.b2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 2px 30px;
}

.c2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 2px 30px;
}

.d2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 2px 30px;
}

.f2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 2px 30px;
}

.Tekst_h2 {
    font-family: "Montserrat", sans-serif;
    margin: 20px auto;
    width: 50%;
    color: var(--k-color);
}